# dependencies
node_modules/

# environment variables
.env
.env.*

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
*.lnk
AppData/
Desktop/
Documents/
Downloads/
*.zip
*.rar

# build / temp
dist/
build/
.tmp/
temp/

# coverage
coverage/

# IDE files
.vscode/
.idea/

# optional
*.local